$green: #21c08b;
$bg-purple: #8f57fd;

body {
  font-family: "Muli", sans-serif;
  margin: 0;
  background: $bg-purple;
  overflow-x: hidden;
}

.categories__title {
  color: white;
  font-size: 16px;
  margin-top: -16px;
  /* position: absolute; */
  padding-left: 30px;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .main__description--title {
    font-size: 30px;
  }

  .footer {
    align-items: flex-start;
    flex-direction: column;
  }
}
